div .card-div{
    
    width: 200px;
    height: 300px;
    padding: 20px;
    border: 8px solid rgb(78, 78, 78);
    background: rgb(235, 235, 235);
    margin: 30px;
    display: flex;
    flex-direction: column;
    
    

  }

  
  .card-div {
    box-sizing: content-box;}


  