.containerCard {
  display: flex;
  flex-wrap: wrap;
  overflow:auto;
  
}

.card {
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(37, 37, 37, 0.3);
  
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 15px;
  color: #777;
}

.card-text {
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  color: #ff5722;
}

.btn {
  margin: 10px;
  background-color: #ff5722;
  border-color: #ff5722;
}

.btn:hover {
  background-color: #e53935;
  border-color: #e53935;
}

.card:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}