.title {
  color: #ff7f07;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(184, 122, 0), 0px 1px 0 rgb(113, 51, 0),
    0px 2px 0 rgb(42, -20, 0), 0px 3px 2px rgba(0, 0, 0, 1),
    0px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
}
