@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.theme-button button {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #a8a8a8;
  margin-left: 80%;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode nav {
  background-color: #aea1a1;
}
.light-mode th {
  background-color: #f2f2f2;
  color: #3d3d3d;
}

.light-mode label {
  color: #513a04;
}

/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #212121;
  color: #ffffff;
}

.dark-mode nav,
a {
  background-color: #aea1a1;
}

.dark-mode li {
  background-color: #aea1a1;
  color: #f3f3f3;
}
.dark-mode li:hover {
  background-color: #aea1a1;
}
.dark-mode th {
  color: #000000;
}

.dark-mode {
  color: #f2f2f2;
  height: 100%;
}
.sucess {
  background-color: #224515;
}
