.navbar-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  
}
.nav-item li{
  
  display: flex;
  justify-content: center;
  
}

.navbar-button {
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  min-height: 40px;
}

