.navbar-container {
  background-image: var(--bs-gradient);
  font-family: "Roboto", sans-serif;
  display: flex;
}
.nav-item {
  display: flex;
  justify-content: center;
}

.dark-mode li {
  background-color: #aea1a1;
  color: #ffffff;
}
.dark-mode li:hover {
  background-color: #aea1a1;
  color: #ffffff;
}

.navbar-button {
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  min-height: 40px;
}
