.navbar-container {
  background-image: var(--bs-gradient);
  font-family: "Rubik", sans-serif;
}

.navbar-singin-shop {
  display: flex;
  flex-direction: row;
  align-items: right;
  margin-left: 120%;
}
